.footer {
  background-image: url(../Images/noche-misteriosa.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-left: 0%;
  margin-right: 0%;
  background-attachment: fixed;
  }
.footer-info{
  color: white;
  margin-top: 15%;
  margin-left: 10%;
  font-weight: bold;
  font-size: 22px;
}
.footer-contact{
  color: white;
  margin-top: 15%;
  margin-left: 10%;
  font-weight: bold;
  font-size: 22px;
}