.navbar{
    background-color: #01001C;
    font-size: 20%;
    padding: 1vh;
    height: 40px;
    z-index: 2;
}

.navbar-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    z-index: 2;
    text-align: justify;
}

  
.navbar-sections{
    padding: 2vh 1vw;
    text-decoration: none;
    font-size: 65%;
    font-weight: bold;
    color: white;
    margin-right: 2vw;
    transition: all .3s;
    font-family: 'Lato', sans-serif;
    z-index: 2;
    text-align: center;
}
  
.navbar-sections:hover{
    background-color: #5C99C7 ;
    border-color: white ;
    color: white ;
    border-radius: 8px;
    z-index: 2;
  
  }
 