.skills-content{
    background-size: cover;
    background-color: #01001C;
    background-position: top;
    padding-top: 1%;
}

.skills-tittle-content{
    margin-top: 20%;
}

.skills-title{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 5px;
    color: #E5E5E5;
}

.skills-icons{
    width: 50%;
    margin-left: 30%;
}

.certificate-title{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 5px;
    color: #E5E5E5;
}

.logo-button-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo-certiprof{
    width: 18%;
    margin-left: 10%;
    margin-bottom: 5%;
}
/* .certificate-button{
    color: #E5E5E5;
    background: none;
    border: none;
    font-size: 4px;
    text-decoration: underline;
    font-weight:lighter;
    margin-bottom: 5%;
    float:inline-start;
} */

.certificate-button{
    background-color: #3D6793;
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    font-size: 3px;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 70%;
    padding: 3px;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #3D6793;
    cursor: pointer;
    outline: none;
    transition: all .3
}
.certificate-button:hover{
    background-color: white;
    border-color: white;
    color: #3D6793;
}